version: '3.8'

services:
  # Service Redis
  redis:
    image: redis:7.2-alpine
    container_name: redis-service
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --loglevel warning
    volumes:
      - redis_data:/data
volumes:
  redis_data:
  mysql_data: